.dropdown-toggle::after {
    content: none;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left:auto;
    margin-top: 0;
    border-radius: 10px;
}

.text-container {
    color:black;
    background:antiquewhite;
    border-radius: 20px;
    padding: 0 10px;
}